/* You can add global styles to this file, and also import other style files */
body {
  background-color: #333;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.grid-container{

display: grid;
grid-template-columns: 1fr 4fr;
grid-template-rows: 1fr;
gap: 10px 10px;
grid-template-areas:
"main-left main-right"
}
.main-left {
  grid-area: main-left;
  /* grid-column:1; */
  background-color: #000;
  color: #fff;
}
.main-right {
  grid-area: main-right;
  /* grid-column: 2; */
  background-color: blue;
}
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: rgba(255, 255, 255, .5);
  text-shadow: none; /* Prevent inheritance from `body` */
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container {
  /*max-width: 42em;*/
  max-width: 100%;
}
