/* You can add global styles to this file, and also import other style files */
body {
  background-color: #333;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
}
.flex-width-container{
    display:inline-flex;
}

@media (min-width: 768px) {
  .grid-container {
      display: flex;
      flex-direction:row;
    /*display: grid;*/
    /*grid-template-columns: 1fr 4fr;*/
    /*grid-template-rows: 1fr;*/
    /*gap: 10px 10px;*/
    /*grid-template-areas:*/
      /*"main-left main-right"*/
  }
  body {
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .grid-container {
    display: flex;
    flex-direction:column;
    gap: 10px 10px;
    /*grid-template-areas:*/
      /*"main-left main-right"*/
  }
  body {
    padding-top: 0;
  }
}

.main-right {
  grid-area: main-right;
  /* grid-column: 2; */
  /*background-color: blue;*/
}
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: rgba(255, 255, 255, .5);
  text-shadow: none; /* Prevent inheritance from `body` */
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container {
  /*max-width: 42em;*/
  max-width: 100%;
}
