<div class="m-4 container">
    <!-- Grid display for self Image -->
    <div class="d-flex flex-row">
        <div class="col-sm-4">
            <div class="card" style="width:100%">
                <img class="card-img-top" src="../../assets/images/selfPicture.png" alt="Picture of Kyle" style="width:100%">
                <div class="card-body text-dark">
                    <h4 class="card-title">Kyle O'Keeffe</h4>
                    <a href="images/OKeeffeKyle_CV.pdf" id="resumeButton" class="btn w-100 btn-primary">View Resume</a>
                </div>
            </div>
        </div>
        <div class="col-sm-8 text-white">
            My name is Kyle O’Keeffe and I am a recent graduate (Aug 2023) of the Software Engineering Technician program at Centennial College in Toronto, Canada. I am capable developing in C#, Java, TypeScript, Python, Kotlin, Sql, HTML5/CSS3 and JavaScript. My greatest strengths lie in developing standalone applications using C# or Java, and am very comfortable builing Full-stack Web Apps using a .NET or MEAN Stack with Angular front-ends.
            I have significant experience developing SQL queries and views in a production environment, which I gained during my Co-op position as an Automation developer/QA Testing support with the Ontario Public Service.
            This position also provided me experience with developing a standalone provess automation application for streamlining the QA regression testing operations.
            <br />
            In addition to my work as a developer, I have employment experience in a range of fields including Program and Policy Research Analysis, Logistics Inventory Analysis.
            My passion for software development orginated in my previous employment roles, where I recognized the value that custom-made software and automation solutions can add to our work and personal lives.
            Prior to my education at Centennial College, I have also completed a post-graduate certificate in Research Analysis from Georgian College and a Bachelors degree in History from Carleton University.
        </div>
    </div>
</div>

