body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  /*height: 32rem;*/
  height: 20rem;
}

.carousel-rect {
  fill: #808080;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.img {
  max-height: contain;
}

.row{
    width:100%;
}
.card {
  cursor: pointer;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
margin:40px;


}

.card-title {
  color: #fdba31;
  height: contain;
}

.card-text {
  color: #e2dada;
}

.card-body {
  max-height: 100%;
  max-width: 100%;
}
