body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  /*height: 32rem;*/
  height: 20rem;
}

.carousel-rect {
  fill: #808080;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
