<div class="page-container">

    <div class="card-deck d-flex flex-column">
        <!--<div class="d-flex flex-column">-->
            <div class="card" (click)="ShowWebDev()">
                <div class="card-body text-start">
                    <h4 class="card-title">Web Development</h4>
                    <p class="card-text"></p>
                </div>
                <div *ngIf="webDevDiv" class="serviceDiv">
                    <h3> Web Development Services</h3>
                    <div class="d-flex subservice-container">
                        <div class="subservice">
                            <app-subservice [filterValue]="'WebApp'"
                                            [title]="'Full Stack'"
                                            [description]="'MEAN Stack, ASP.Net, EJS'">
                            </app-subservice>
                        </div>
                        <div class="subservice">
                            <app-subservice [filterValue]="'WebApp'"
                                            [title]="'Traditional Web Dev'"
                                            [description]="'HTML5, CSS3, JavaScript'">
                            </app-subservice>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" (click)="ShowStandProg()">
                <div class="card-body text-start">
                    <h4 class="card-title">Standalone Software</h4>
                </div>
                <div *ngIf="standProgDiv" class="serviceDiv">
                    <h3> StandAlone Software</h3>
                    <div class="d-flex subservice-container ">
                        <div class="subservice">
                            <app-subservice [filterValue]="'CSharp'"
                                            [title]="'C#'"
                                            [description]="'WPF, DB integration, EF core, ML.NET'">
                            </app-subservice>
                        </div>
                        <div class="subservice">
                            <app-subservice [filterValue]="'Java'"
                                            [title]="'Java'"
                                            [description]="'JFrame gui'">
                            </app-subservice>
                        </div>
                        <div class="subservice">
                            <app-subservice [filterValue]="'Python'"
                                            [title]="'Python'"
                                            [description]="'IOT development, machine learning models, natural language processing'">
                            </app-subservice>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" (click)="ShowDbAdmin()">
                <div class="card-body text-start">
                    <h4 class="card-title">Database Administration</h4>
                </div>
                <div *ngIf="dbAdminDiv" class="serviceDiv">
                    <h3>Database Administration</h3>
                    <div class="d-flex subservice-container">
                        <div class="subservice">
                            <app-subservice [filterValue]="'Oracle'"
                                            [title]="'Oracle'"
                                            [description]="'SQL Developer, PL SQL development'">
                            </app-subservice>
                        </div>
                        <div class="subservice">
                            <app-subservice [filterValue]="'SQLServer'"
                                            [title]="'SQL Server'"
                                            [description]="'SSMS client and server, Query and View development'">
                            </app-subservice>
                        </div>
                        <div class="subservice">
                            <app-subservice [filterValue]="'NOSQL'"
                                            [title]="'NOSQL'"
                                            [description]="'MongoDB Integration'">
                            </app-subservice>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" (click)="ShowResHost()">
                <div class="card-body text-start">
                    <h4 class="card-title">Resource Hosting</h4>
                </div>
                <div *ngIf="resHostDiv" class="serviceDiv">
                    <h3>Website Hosting Services</h3>
                    <div class="d-flex flex-row subservice-container ">
                        <div class="subservice">
                            <app-subservice [filterValue]="'Render'"
                                            [title]="'Render'"
                                            [description]="'Render, Heroku'">
                            </app-subservice>
                        </div>
                        <div class="subservice">
                            <app-subservice [filterValue]="'Azure'"
                                            [title]="'Azure'"
                                            [description]="'Full stack Azure hosting'">
                            </app-subservice>
                        </div>
                    </div>
                </div>
            </div>
<!--        </div>
-->    </div>
</div>

