<main role="main" class="px-3">
    <div>

        <h1>K-Go Development </h1>
        <p class="lead">Custom Software solutions by Kyle O'Keeffe</p>


        <p class="lead">
            <a [routerLink]="['/my-services']" class="btn btn-lg btn-light fw-bold border-white text-dark bg-white">Learn more about our services</a>
        </p>
        <br>
        <p>Site currently under development (Oct 2023) - Check back often for updates!</p>
        <a href="https://github.com/kyleokeeffe/ASPNET-PortfolioWebsiteKgoDev">View this site project on GitHub</a>
    </div>

</main>



