<!--


<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">
            <a class="navbar-brand" [routerLink]="['/']"><img src="../../assets/images/logo2.png" /></a>
        </h3>

        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" [routerLink]="['/about']">About</a>
            <a class="nav-link fw-bold py-1 px-0" [routerLink]="['/my-services']">My Services</a>
            <a class="nav-link fw-bold py-1 px-0" [routerLink]="['/projects']">Projects</a>
        </nav>
    </div>
</header>-->

<header>

    <div >
        <nav class="nav navbar-nav justify-content-center float-md-start">
            <a id="homeLink" class="nav-link fw-bold py-1 px-0 active">
                Home
            </a>
            <a class="nav-link fw-bold py-1 px-0" [routerLink]="['/about']">
                About
            </a>
            <a id="projLink" class="nav-link fw-bold py-1 px-0" [routerLink]="['/projects']">
                Projects
            </a>
            <a class="nav-link fw-bold py-1 px-0" [routerLink]="['/my-services']">
                Services
            </a>
        </nav>
    
    </div>

</header>
