html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .expandedNav {
    height:100%;
    width: 1fr;
  /*  transition:1s linear width;
    animation-name: expand-nav;
    animation-duration:1s;*/

  }

 /* @keyframes expand-nav{
      from{
          width:0
      }
      tp{
          width:1fr;
      }
  }*/
  .collapsedNav {
    height: 0%;
    width: 0;
  }
  #hamburgerNav{
      display:none;

  }
 
  #fullNav{
      display:block;
  }

  .hamburgerRight {
      display:absolute;
    position: sticky;
    top: 2%;
    left: 98%;

    z-index: 100;
    min-height: 40px;
    min-width: 40px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
  #hamburgerNav {
    display: block;
  }
  #fullNav {
    display: none;
  }
  .hamburgerRight {
    display: none;
  }
}

#navLogo{
    height:50px;
}
#navLinks{
    display:flex;
    flex-direction:column;
    justify-content:left;
    width:100%;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;

}
.navbar-nav{
  border-bottom: .25rem solid transparent;
  display:flex;
  flex-direction:column;
  align-items:start;
  justify-content:left;
  height:100%;
}
.nav-link {
  border-bottom: .25rem solid transparent;
  text-align:left;
  margin:1rem auto 1rem 0;
  width:100%;
  
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: grey;
}

.navbar-nav .active {
  border-bottom-color: blue;
}

/*

.movingBorder {
  width: 60vw;
  height: 60vh;
  border: solid 5px lime;
  position: relative;
  background: pink;
  animation: changeBorders 5s linear;
}

@keyframes changeBorders {
  0% {
    border: solid 5px white;
    border-left: solid 5px lime;
  }

  25% {
    border: solid 5px white;
    border-left: solid 5px lime;
  }

  25.02% {
    border: solid 5px white;
    border-left: solid 5px lime;
    border-bottom: solid 5px lime;
  }

  50% {
    border: solid 5px white;
    border-left: solid 5px lime;
    border-bottom: solid 5px lime;
  }

  50.02% {
    border: solid 5px white;
    border-left: solid 5px lime;
    border-bottom: solid 5px lime;
    border-right: solid 5px lime;
  }

  75% {
    border: solid 5px white;
    border-left: solid 5px lime;
    border-bottom: solid 5px lime;
    border-right: solid 5px lime;
  }

  75.02% {
    border: solid 5px lime;
  }
}

.navLink::after {
  width: 5px;
  background-color: white;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: -5px;
  z-index: 1;
  animation: movedown 5s linear;
  animation-fill-mode: forwards;
  content: '';
  display: inline-block;
}

@keyframes movedown {
  0% {
    height: calc(100% + 10px);
    width: 5px;
    bottom: -5px;
    left: -5px;
  }

  25% {
    height: 5px;
    width: 5px;
    bottom: -5px;
    left: -5px;
  }

  25.01% {
    height: 5px;
    width: calc(100% + 10px);
    bottom: -5px;
    left: -5px;
  }

  50% {
    height: 5px;
    width: 0%;
    left: 100%;
    bottom: -5px;
  }

  50.01% {
    height: calc(100% + 10px);
    width: 5px;
    left: 100%;
    bottom: -5px;
  }

  75% {
    height: 0;
    width: 5px;
    left: 100%;
    bottom: 100%;
  }

  75.01% {
    height: 5px;
    width: calc(100% + 10px);
    left: 0%;
    bottom: 100%;
  }

  99.01% {
    height: 5px;
    width: 0;
    left: 0;
    bottom: 100%;
  }
}
*/



/*.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }

  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
*/
