<div class="page-container w-100">
    <!-- Card deck for project samples -->
    <!--<a [routerLink]="['/add-edit']">Add new Project</a>-->
    <label for="slctType">Project Type</label>"
    <select x:Name="slctType" [(ngModel)]="selectedType" (change)="updateTypeSelect($event)">
        <option *ngFor="let item of selectTypeOptions" [value]="item">
            {{item}}
        </option>

    </select>
    <label for="slctLang">Language</label>
    <select x:Name="slctLang" [(ngModel)]="selectedLang" (change)="updateLangSelect($event)">
        <option *ngFor="let item of selectLangOptions" [value]="item">
            {{item}}
        </option>
    </select>
    <p *ngIf="!projectsFiltered?.length"><em>Loading...</em></p>

    <div class="card-deck w-100 d-flex flex-wrap align-content-around justify-content-center" *ngIf="projectsFiltered.length">
        <app-project-item class="card" *ngFor="let projectItem of projectsFiltered" [projectItem]="projectItem">

        </app-project-item>
    </div>
    <div>
    </div>
</div>
