<h1 id="tableLabel">Projects</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!projects?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="projects.length">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Language</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects">
            <td>{{ project.id }}</td>
            <td>{{ project.name}}</td>
            <td>{{ project.type}}</td>
            <td>{{ project.language}}</td>
            <td>{{ project.description}}</td>
        </tr>
    </tbody>
</table>
