.page-container{
  margin-top: 60px;
}

.flex-sm-row {
  width: 100%;
  height: 200%;
  flex-wrap: wrap;
}
body{
    background-color:black;
}

.card {
  color: #655844;
  background-color: dimgrey;
  margin: 0.5rem;
  width: 100%;
  height: 17rem;
}

.card-deck {
  padding: 10px;
}
